html,
body{

}

.page-header{
    margin-top: 1rem;
    font-size: 1.25rem;
    color: #fff;
}

.gradient{
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,1) 32%, rgba(153,6,6,1) 100%);
}